{% extends "gutim-master/index.html" %}

{% block content %}

<!-- Hero Section Begin -->
<section class="hero-section set-bg" data-setbg="{{ url_for('static', filename='img/hero-bg.jpg') }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="hero-text">
                    <span>FITNESS ELEMENTS</span>
                    <h1>HOME PAGE</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

{% endblock %}