{% extends "gutim-master/index_auth.html" %}

{% block content %}

<!-- Hero Section Begin -->
<section class="hero-section set-bg" data-setbg="{{ url_for('static', filename='img/hero-bg.jpg') }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="hero-text">
                    <span>FITNESS ELEMENTS</span>
                    <h1>{{ user.name }}</h1>
                    <p>Gutim comes packed with the user-friendly BMI Calculator<br /> shortcode which lets</p>
                    <a href="{{ url_for('logout') }}" class="primary-btn">Logout</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

{% endblock %}