{% extends "index.html" %}

{% block breadcrumb %}

<section class="breadcrumb-section set-bg"
    data-setbg="{{ url_for('static', filename='img/breadcrumb/classes-breadcrumb.jpg') }}">
    <div class=" container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Admin - Delete Courses</h2>
                    <div class="breadcrumb-option">
                        <a href="{{ url_for('main.home') }}"><i class="fa fa-home"></i> Home</a>
                        <span>Admin - Delete Courses</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block content %}

<section class="register-section spad">
    <div class="container">
        <div class="register-text">
            <div class="section-title">
                <h2>DELETE COURSE</h2>
            </div>
            <form action="" method="POST" class="">
                {{ form.hidden_tag() }}
                <fieldset>
                    <ul>
                        {% for course in courses %}
                            <li>
                                <h6>{{ course.name }}</h6>
                                <label class="my-checkbox">
                                    {% set checkbox = getattr(form, str(course.id)) %}
                                    {{ checkbox }}
                                <span class="checkmark"></span>
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </fieldset>

            <div class="calendar-submit">
                <div class="calendar-form">
                    {{ form.submit(class="register-btn") }}
                </div>
            </div>
            </form>

        </div>

    </div>
</section>

{% endblock %}