{% extends "calendars/calendar.html" %}

{% block calendar %}

<form action="" method="POST" class="">
    {{ form.hidden_tag() }}
    {% set found = {'found': False} %}
    <table>
        <thead>
            <tr>
                <th></th>
                {% for schedule in schedules %}
                    <th>
                        {{ schedule.day.strftime('%A') }}<br>
                        {{ schedule.day.strftime('%d-%m') }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for turn in turns %}
            <tr>
                <td class="workout-time">
                    {{ turn.from_hour.strftime('%H:%M') }}-{{ turn.to_hour.strftime('%H:%M') }}
                </td>
                {% for schedule in schedules %}

                    {% if found.update({'found': False}) %}{% endif %}

                    {% for curr_turn, course in all_turns if not found.get('found') %}

                        {% if curr_turn.day == schedule.day and curr_turn.from_hour == turn.from_hour
                                                            and curr_turn.to_hour == turn.to_hour %}

                            <td class="hover-bg ts-item">
                                <h6>{{ course.name }}</h6>
                                <span>
                                    {{ turn.from_hour.strftime('%H:%M') }}-{{ turn.to_hour.strftime('%H:%M') }}
                                </span>

                                {% if current_user.role == 'member' %}

                                    {% set tmp = {'already reserved': False} %}
                                    {% for res in current_user.reservations %}
                                        {% if res.schedule_course_id == curr_turn.id %}
                                            <div class="trainer-name">Reserved</div>
                                            {% if tmp.update({'already_reserved': True}) %}{% endif %}
                                        {% endif %}
                                    {% endfor %}

                                    {% if not tmp.get('already_reserved') %}
                                        {% set tmp = {'num_res': 0} %}
                                        {% for course, schedule, count in reservations_cnt
                                           if schedule.id == curr_turn.id %}
                                            {% if tmp.update({'num_res': count}) %}{% endif %}
                                        {% endfor %}
                                        <div class="trainer-name">
                                            {{ course.max_members - tmp.get('num_res') }} slots available
                                        </div>
                                        {% if course.max_members - tmp.get('num_res') > 0 %}
                                        <label class="my-checkbox">
                                            {% set checkbox = getattr(form, str(curr_turn.id)) %}
                                            {{ checkbox }}
                                        <span class="checkmark"></span>
                                        </label>
                                        {% endif %}
                                    {% endif %}

                                {% endif %}
                            </td>
                            {% if found.update({'found': True}) %}{% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if not found.get('found') %}
                        <td class="hover-bg ts-item"></td>
                    {% endif %}

                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if current_user.role == 'member' %}
        <div class="calendar-submit">
            <div class="calendar-form">
                {{ form.submit(class="register-btn") }}
            </div>
        </div>
    {% endif %}

</form>

{% endblock %}>