{% extends "index.html" %}

{% block breadcrumb %}

<section class="breadcrumb-section set-bg"
    data-setbg="{{ url_for('static', filename='img/breadcrumb/classes-breadcrumb.jpg') }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>About</h2>
                    <div class="breadcrumb-option">
                        <a href="{{ url_for('main.home') }}"><i class="fa fa-home"></i>Home</a>
                        <span>About</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block content %}

{# Map Section Begin #}
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2797.5602780234667!2d12.253100215767155!3d45.47866114049895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477eb4059eecaaf7%3A0x8a74dc7cd33d5c3c!2sCampus%20Scientifico%20Universit%C3%A0%20Ca&#39;%20Foscari!5e0!3m2!1sit!2sit!4v1620423803538!5m2!1sit!2sit" 
    height="612" style="border:0;" allowfullscreen=""></iframe>
    <img src="img/icon/location.png" alt="">
</div>
{# Map Section End #}

{% endblock %}