{% extends "calendar.html" %}

{% block calendar %}

<form action="" method="POST" class="">
    {{ form.hidden_tag() }}
    {% set found = {'found': False} %}
    <table>
        <thead>
            <tr>
                <th></th>
                {% for schedule in schedules %}
                    <th>
                        {{ schedule.day.strftime('%A') }}<br>
                        {{ schedule.day.strftime('%d-%m') }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for turn in turns %}
            <tr>
                <td class="workout-time">
                    {{ turn.from_hour.strftime('%H:%M') }}-{{ turn.to_hour.strftime('%H:%M') }}
                </td>
                {% for schedule in schedules %}

                    {# importante #}
                    {% if found.update({'found': False}) %}{% endif %}

                    {# controlla tutti i turni e se lo trova esce #}
                    {% for all_turn in all_turns if not found.get('found') %}

                        {# se è il turno corrispondente #}
                        {% if all_turn[0].day == schedule.day and all_turn[0].from_hour == turn.from_hour
                                                              and all_turn[0].to_hour == turn.to_hour %}
                            {# stampa la casella #}
                            <td class="hover-bg ts-item">
                                <h6>GYM</h6>
                                <span>
                                    {{ turn.from_hour.strftime('%H:%M') }}-{{ turn.to_hour.strftime('%H:%M') }}
                                </span>

                                {# se loggati come membri stampa tutto altrimenti solo il turno #}
                                {% if current_user.role == 'member' %}

                                    {# verifica che l'utente non abbia già prenotato #}
                                    {% set tmp = {'already reserved': False} %}
                                    {% for res in current_user.reservations %}
                                        {% if res.schedule_weightroom_id == all_turn[0].id %}
                                            <div class="trainer-name">Reserved</div>
                                            {% if tmp.update({'already_reserved': True}) %}{% endif %}
                                        {% endif %}
                                    {% endfor %}

                                        {# se non ha prenotato verrà visualizzato il numero di slot disponibili
                                           e la checkbox #}
                                        {% if not tmp.get('already_reserved') %}
                                            {% set tmp = {'num_res': 0} %}
                                            {% for res in reservations_cnt if res[1].id == all_turn[0].id  %}
                                                {% if tmp.update({'num_res': res[2]}) %}{% endif %}
                                            {% endfor %}
                                            <div class="trainer-name">
                                                {{ all_turn[1].max_members - tmp.get('num_res') }} slots available
                                            </div>
                                            <label class="my-checkbox">
                                                {% set checkbox = getattr(form, str(all_turn[0].id)) %}
                                                {{ checkbox }}
                                            <span class="checkmark"></span>
                                            </label>
                                        {% endif %}

                                {% endif %}
                            </td>
                            {% if found.update({'found': True}) %}{% endif %}
                        {% endif %}

                    {% endfor %}

                    {# stampa la cella vuota #}
                    {% if not found.get('found') %}
                        <td class="hover-bg ts-item"></td>
                    {% endif %}

                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if current_user.role == 'member' %}
        <div class="calendar-submit">
            <div class="calendar-form">
                {{ form.submit(class="register-btn") }}
            </div>
        </div>
    {% endif %}
</form>

{% endblock %}>