{% extends "index.html" %}

{% block content %}



<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg"
    data-setbg="{{ url_for('static', filename='img/breadcrumb/classes-breadcrumb.jpg') }}">
    <div class=" container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Gym Calendar</h2>
                    <div class="breadcrumb-option">
                        <a href="{{ url_for('home') }}"><i class="fa fa-home"></i> Home</a>
                        <span>Gym Calendar</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- flash messages -->
<div class="alert-section">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<!-- Classes Timetable Section Begin -->
<section class="classes-timetable spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="nav-controls">
                    <ul>
                        <li><a class="active" href="{{ url_for('calendar_gym') }}">GYM</a></li>
                        <li><a href="{{ url_for('calendar_courses') }}">COURSES</a></li>
                    </ul>
                </div>
                <div class="schedule-table">
                    <form action="" method="POST" class="">
                        {{ form.hidden_tag() }}

                        <table>

                            <!-- HEAD  -->
                            <thead>
                                <tr>
                                    <th></th>
                                    {% for day in days %}
                                        <th>{{ day.day }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>

                            <!-- BODY  -->
                            <tbody>
                                {% for turn in turns %}
                                <tr> <!-- ROW -->
                                    <!-- PRINT TURN -->
                                    <td class="workout-time">
                                        {{ turn.from_hour }}-{{ turn.to }}
                                    </td>
                                    {% for day in days %}
                                        <!-- PRINT CELL -->
                                        <td class="hover-bg ts-item">
                                            <h6>Gym</h6>
                                            <span>{{ turn.from_hour }}-{{ turn.to }}</span>
                                            <div class="trainer-name">
                                                20 slots available
                                            </div>
                                            <!-- CHECKBOX -->
                                            <label class="my-checkbox">
                                                {% set checkbox = getattr(form, turn['from_hour'] + day['day']) %}
                                                {{ checkbox }}
                                                <span class="checkmark"></span>
                                            </label>
                                        </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- RESERVE NOW BUTTON  -->
                        <div class="calendar-submit">
                            <div class="calendar-form">
                                {{ form.submit(class="register-btn") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Trainers Table Schedule Section End -->

{% endblock %}>