{% extends "calendar.html" %}

{% block calendar %}

<form action="" method="POST" class="">
    {{ form.hidden_tag() }}
    <table>

        <thead>
            <tr>
                <th></th>
                {% for day in days %}
                    <th>
                        {{ day.strftime('%A') }}<br>
                        {{ day.strftime('%m-%d') }}
                    </th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for turn in turns %}
            <tr>
                <td class="workout-time">
                    {{ turn[0].strftime('%H:%M') }}-{{ turn[1].strftime('%H:%M') }}
                </td>
                {% for day in days %}
                    {% for (allturn_c, allturn_w) in zip(allturns_c, allturns_w) %}
                        {% if allturn_c.day == day and allturn_c.from_hour == turn[0] and allturn_c.to_hour == turn[1] %}
                            {% for course in courses %}
                                {% if allturn_c.course_id == course.id %}
                                    {% if flag.update({'flag': False}) %} {% endif %}
                                    <!-- PRINT CELL -->
                                    <td class="hover-bg ts-item">
                                        <h6>{{ course.name }}</h6>
                                        <span>{{ turn[0].strftime('%H:%M') }}-{{ turn[1].strftime('%H:%M') }}</span>
                                        <div class="trainer-name"></div>
                                        <!-- PRINT CHECKBOX -->
                                        <label class="my-checkbox">
                                            {% set checkbox = getattr(form, str(allturn_c.id) + 'c') %}
                                            {{ checkbox }}
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if allturn_w.day == day and allturn_w.from_hour == turn[0] and allturn_w.to_hour == turn[1] %}
                            {% for weightroom in weightrooms %}
                                {% if allturn_w.weightroom_id == weightroom.id %}
                                    {% if flag.update({'flag': False}) %} {% endif %}
                                    <!-- PRINT CELL -->
                                    <td class="hover-bg ts-item">
                                        <h6>GYM</h6>
                                        <span>{{ turn[0].strftime('%H:%M') }}-{{ turn[1].strftime('%H:%M') }}</span>
                                        <div class="trainer-name"></div>
                                        <label class="my-checkbox">
                                            {% set checkbox = getattr(form, str(allturn_w.id) + 'w') %}
                                            {{ checkbox }}
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    {% if flag.flag %}
                        <td class="hover-bg ts-item">
                            <!-- EMPTY CELL -->
                        </td>
                    {% endif %}
                    {% if flag.update({'flag': True}) %} {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="calendar-submit">
        <div class="calendar-form">
            {{ form.submit(class="register-btn") }}
        </div>
    </div>

</form>

{% endblock %}>