{% extends "calendar.html" %}

{% block calendar %}

<form action="" method="POST" class="">
    {{ form.hidden_tag() }}
    {% set found = {'found': False} %}
    {% set found = {'found': False} %}
    <table>
        <thead>
            <tr>
                <th></th>
                {% for day in days %}
                    <th>
                        {{ day.strftime('%A') }}<br>
                        {{ day.strftime('%m-%d') }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for turn in turn %}
            <tr>
                <td class="workout-time">
                    {{ turn.from_hour.strftime('%H:%M') }}-{{ turn.to_hour.strftime('%H:%M') }}
                </td>
                {% for day in days %}
                    {% for res, schedule, course in res_courses %}

                        {% if schedule.day == day and schedule.from_hour == turn.from_hour
                                                  and schedule.to_hour == turn.to_hour %}
                            {# stampa la cella #}
                            <td class="hover-bg ts-item">
                                <h1>{{ course.name }}</h1>
                                <span>
                                    {{ turn.from_hour.strftime('%H:%M') }}-{{ turn.to_hour.strftime('%H:%M') }}
                                </span>
                                <label class="my-checkbox">
                                    {% set checkbox = getattr(form, str(schedule.id)) %}
                                    {{ checkbox }}
                                <span class="checkmark"></span>
                            </td>
                            {% if found.update({'found': True}) %}{% endif %}
                        {% endif %}

                    {% endfor %}

                    {% for res, schedule in res_weightrooms %}

                        {% if schedule.day == day and schedule.from_hour == turn.from_hour
                                                  and schedule.to_hour == turn.to_hour %}
                            {# stampa la cella #}
                            <td class="hover-bg ts-item">
                                <h1>GYM</h1>
                                <span>
                                    {{ turn.from_hour.strftime('%H:%M') }}-{{ turn.to_hour.strftime('%H:%M') }}
                                </span>
                                <label class="my-checkbox">
                                    {% set checkbox = getattr(form, str(schedule.id)) %}
                                    {{ checkbox }}
                                <span class="checkmark"></span>
                            </td>
                            {% if found.update({'found': True}) %}{% endif %}
                        {% endif %}

                    {% endfor %}

                    {# stampa la cella vuota #}
                    {% if not found.get('found') %}
                        <td class="hover-bg ts-item"></td>
                    {% endif %}

                {% endfor %}

            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="calendar-submit">
        <div class="calendar-form">
            {{ form.submit(class="register-btn") }}
        </div>
    </div>

</form>

{% endblock %}>